<%@users.each do |user|%>
<div class="card" style="width: 18rem;">
<p class="card-title"><%=user.username%></p>
<p class="card-text"><%=user.email%></p>
<p class="card-text">--><%=user.bio%></p>
<%end%>